@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Baloo Bhai 2', cursive;
    background-color: #f7f7f7;
}

.card-container{

display: flex;
flex-direction: column;
border:1px solid gray;
/* 
 gap:6px;
 */
 padding-top: 20px;
 max-width: 350px;
 border-radius: 4px;
 box-shadow: 3px 2px 5px gray;
 justify-content: center;
 align-items: center;
margin: auto;
}

.card-image img{
    width: 100%;
    object-fit: cover;
    border-radius:0px 20px 20px 0px
}

.card-body{
    padding: 0px 10px;
}

.card-body-heading h2{
margin: 0px;
font-size: 20px;
}
.card-body-heading p{
    margin: 0px 0px 10px 0px;
    font-size: 14px;
    }
.card-body-description{
    font-size: 14px;
}
.card-footer{
    padding: 10px 10px;
    width: 100%;
}
.card-footer-buttons{
padding: 0px 10px;
display: flex;
justify-content: space-around;

}

